# Ignore class files and other Scala/Java build artifacts
*.class
*.tasty
*.jar
*.war
*.ear
*.classlist
*.semanticdb

# Ignore any .bin files (analysis artifacts)
*.bin

# Ignore Bloop config
bloop.settings.json

# If you want to ignore *all* JSON except a few special ones, do something like:
# *.json
# !some-important.json

# If you only want to ignore certain JSON files (like root-test.json, Hanna_*.json), you can do:
root-test.json
Hanna_*.json

# SBT target folder (often generated build outputs)
target/

# Metals, IntelliJ, or other IDE files/folders
.metals/
.idea/
.vscode/
